<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.eclipse.jdt.launching.localJavaApplication">
<stringAttribute key="bad_container_name" value="/meldfs/lu"/>
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_PATHS">
<listEntry value="/meldfs/src/warrenfalk/meldfs/MeldFsFuseAdapter.java"/>
</listAttribute>
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_TYPES">
<listEntry value="1"/>
</listAttribute>
<stringAttribute key="org.eclipse.jdt.launching.MAIN_TYPE" value="warrenfalk.meldfs.MeldFsFuseAdapter"/>
<stringAttribute key="org.eclipse.jdt.launching.PROGRAM_ARGUMENTS" value="/dev/shm/test -o allow_other,meld_debug"/>
<stringAttribute key="org.eclipse.jdt.launching.PROJECT_ATTR" value="meldfs"/>
</launchConfiguration>
